<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
</head>

<body>

  <div class="d-flex" id="wrapper">
    {% block content %}
    {% endblock %}
  </div>

</body>



{% include 'includes/scripts.html' %}
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function() {
    var rowsToShow = 12;
    var totalRows = $('#dtBasicExample tbody tr').length;
    var totalPages = Math.ceil(totalRows / rowsToShow);

    $('#dtBasicExample tbody tr').hide();
    $('#dtBasicExample tbody tr').slice(0, rowsToShow).show();

    
});
</script>
</html>
